@import '../../styles/variables.scss';

.grid-item {
  display: flex;
  flex: 1 1 auto;
  height: 240px;
  min-width: 30%;
  align-items: center;
  justify-content: center;
  border: 1px solid $dark-grey;
  margin: 1rem 0.5rem 1rem;
  position: relative;
  overflow: hidden;

  .grid-item-image {
    width: 100%;
    height: 100%;
    background-size: cover;

    &:hover {
      cursor: pointer;
    }
  }

  &.large {
    height: 380px;
    @media (max-width: $breakpoint-tablet) {
      height: 210px;
    }
  }

  @media (max-width: $breakpoint-tablet) {
    width: 100%;
    height: 210px;
  }

  &:first-child {
    margin-right: 0.5rem;
  }
  &:last-child {
    margin-left: 0.5rem;
  }
  .grid-item-content {
    display: flex;
    position: absolute;
    height: 90px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border: 1px solid $dark-grey;
    background-color: rgba($lighter-grey, 0.7);
    z-index: 4;
    @media (max-width: $breakpoint-tablet) {
      height: 60px;
    }
    &:hover {
      cursor: pointer;
    }

    .content-title {
      font-size: 1.3rem;
      @media (max-width: $breakpoint-tablet) {
        font-size: 1.2rem;
      }
    }

    .content-subtitle {
      font-size: 0.8rem;
      @media (max-width: $breakpoint-tablet) {
        font-size: 0.6rem;
      }
    }
  }
}
