$breakpoint-tablet: 768px;
$breakpoint-phone: 576px;

//COLORS

$dark-grey: #222f3e;
$medium-grey: #576574;
$light-grey: #8395a7;
$lighter-grey: #c8d6e5;
$aqua: #01a3a4;
$aqua-light: #00d2d3;
$orange: #ff9f43;
$yellow: #feca57;
$red: #ee5253;
$red-light: #ff6b6b;
$green: #10ac84;
$green-light: #1dd1a1;
